<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testcase_pom.LoginpageTest_pom"/>
      <class name="com.testcase_pom.Student_Dashboard_page_test"/>
      <class name="com.testcase_pom.Student_application_test"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
  